<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "http://smartaqua.com.au/wp-content/uploads/2022/05/cropped-SMARTAQUA-LOGO-2.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "about", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "team", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "services", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "products", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "contact", "#", class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>
