
<div class="landing">
  <%# <video autoplay muted loop preload id="video-background">
    <source src="https://smartaqua.com.au/wp-content/uploads/2022/05/Tuna-Great-Australian-Bight-2.mp4" type="video/mp4">
  </video> %>

  <div class="tagline"> Solutions for Smarter Seafood Production</div>
  <div class="logo">
    <img src="https://smartaqua.com.au/wp-content/uploads/2022/05/cropped-SMARTAQUA-logo2.png" alt="logo">
  </div>
  <%# <div class="bannercontent">
  </div> %>
  <div class="landing-nav">
      <a class="item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </a>
      <a class="item">
        <%= link_to "about", about_path, class: "nav-link" %>
      </a>
      <a class="item">
        <%= link_to "services", services_path, class: "nav-link" %>
      </a>
      <a class="item">
        <%= link_to "products", products_path, class: "nav-link" %>
      </a>
      <a class="item">
        <%= link_to "contact", contact_path, class: "nav-link" %>
      </a>
  </div>
</div>
